.detailsPage{
    background: #f5f5f5;
    padding: 20px 0;
    .whiteBox{
        background: white;
        .subMenu{
            display: flex;
            justify-content: space-between;
            padding: 20px;
            a{
                padding: 10px 20px;
                color: #2A7DDD;
                cursor: pointer;
                border-right: 1px solid #80808041;
                text-decoration: none;
                &:last-child{
                    border: none;
                }
            }
            .direction{
                display: flex;
                flex-flow: row;
            }
            .subLinks{
                display: flex;
                flex-flow: row;
                & > a{
                    &:nth-last-child(2){
                        border: none;
                    }
                }
            }
        }
        .contentArea{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;
            .mediaColumn{
                .gallery{
                    .slider{
                        .mainImage{
                            position: relative;
                            .arrows{
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                padding: 0 8px;
                                height: 100%;
                                background: rgba(0,0,0,.3);
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                font-size: 1.8rem;
                                color: rgba(255,255,255, .6);
                                cursor: pointer;
                                &.leftArrow{
                                    left: 0;
                                }
                                &.rightArrow{
                                    right: 0;
                                }
                            }
                            .imageOne{
                                height: 400px;
                                width: 100%;
                                background-size: cover;
                            }
                        }
                    }
                    .thumbnails{
                        padding: 5px 0;
                        display: grid;
                        grid-template-columns: repeat(6, 1fr);
                        justify-content: space-around;
                        grid-gap: 8px;
                        .thumbImage{
                            height: 100px;
                            width: 100px;
                            background-size: cover;
                            cursor: pointer;
                        }
                    }
                }
            }
            .detailsColumn{
                padding-right: 20px;
                .date{
                    font-size: .9rem;
                    color: rgb(36, 36, 36);
                    margin: 0 0 10px 0;
                }
                .title{
                    font-size: 2rem;
                    font-weight: 500;
                    margin: 0 0 10px 0;
                }
                .price{
                    color: green;
                    font-size: 1.7rem;
                    font-weight: 500;
                    margin: 0 0 20px 0;
                }
                label{
                    font-weight: 700;
                    font-size: .8rem;
                    text-transform: uppercase;
                    margin: 0 0 8px 0;
                    display: block;
                }
                .moreDetails{
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    margin: 0 0 15px 0;
                    border-bottom: 1px solid #80808041;
                    .info{
                        h5{
                            font-size: .9rem;
                            font-weight: 400;
                            margin: 0 0 15px 0;
                            text-transform: capitalize;
                        }
                    }
                }
                .description{
                    p{
                        font-size: .9rem;
                        line-height: 1.5;
                        color: rgb(36, 36, 36);
                        margin: 0 0 1rem 0;
                    }
                }
            }
        }
    }
}