.home{
    .links{
        background: rgba(1, 31, 38, .7);
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-gap: 20px;
        padding: 20px;
        margin-bottom: 60px;
        .categories{
            display: flex;
            flex-flow: column;
            border-right: 1px solid (rgba(255,255,255,.1));
            &:last-child{
                border: none
            }
            .title{
                color: white;
                font-size: .9rem;
                text-transform: uppercase;
                margin: 0 0 .8rem 0;
                font-weight: 500;
                letter-spacing: 1.5px;
            }
            .groupLinks{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                font-size: .8rem;
                font-weight: 300;
                .link{
                    text-decoration: none;
                    text-transform: lowercase;
                    color: white;
                    margin: 0 0 .3rem 0;
                    letter-spacing: 1px;
                    &:hover{
                        color: blue;
                    }
                }
            }
        }
    }

    .trending{
        max-width: 700px;
        margin: 0 auto;
        .search{
            width: 100%;
            font-size: 1rem;
            border-radius: 50px;
            border: 1px solid rgba(0,0,0,.3);
            padding: 10px;
            &::placeholder{
                color: rgba(0,0,0,.5);
            }
        }
    }
}