.home{
    h1{
        font-size: 4rem;
        text-align: center;
        text-transform: capitalize;
        color: white;
        font-weight: 700;
        letter-spacing: 2px;
        padding: 80px 0;
        line-height: 1.2;
        span{
            font-weight: 300;
        }
    }
    .links{
        background: rgba(1, 31, 38, .7);
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 20px;
        padding: 20px;
        margin-bottom: 60px;
        .categories{
            display: flex;
            flex-flow: column;
            border-right: 1px solid (rgba(255,255,255,.1));
            &:nth-child(4){
                border: none
            }
            .title{
                color: white;
                font-size: .9rem;
                text-transform: uppercase;
                margin: 0 0 .9rem 0;
                font-weight: 500;
                letter-spacing: 1.5px;
                text-decoration: none;
            }
            .groupLinks{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                font-size: .8rem;
                font-weight: 300;
                &.singleCol{
                    grid-template-columns: repeat(1, 1fr);
                }
                .link{
                    text-decoration: none;
                    text-transform: lowercase;
                    color: white;
                    margin: 0 0 .3rem 0;
                    letter-spacing: 2px;
                    &:hover{
                        color: blue;
                    }
                }
            }
        }
    }

    .trending{
        max-width: 700px;
        margin: 0 auto;
        .search{
            width: 100%;
            font-size: 1rem;
            border-radius: 50px;
            border: 1px solid rgba(0,0,0,.3);
            padding: 10px;
            &::placeholder{
                color: rgba(0,0,0,.5);
            }
        }
        .title{
            font-size: 1rem;
            color: white;
            text-align: center;
            padding: 20px 0 10px 0;
            text-transform: uppercase;
            font-weight: 400;
        }
        .trendingTags{
            text-align: center;
            .tag{
                padding: 10px 20px;
                margin: 5px;
                border-radius: 50px;
                border: 1px solid white;
                display: inline-block;
                color: white;
                &:hover{
                    background: white;
                    color: #F2BB16;
                    border: 1px solid #F2BB16;
                    cursor: pointer;
                }
            }
        }
    }
}