@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
@import "home";

*{
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto', sans-serif;
    background: yellow;
    background: linear-gradient(135deg, rgba(191, 128, 11, .7) 0%,rgba(37, 217, 184, .7) 100%), url('https://upload.wikimedia.org/wikipedia/commons/c/c1/Portland%2C_Oregon_skyline_from_the_Ross_Island_Bridge.jpg') center top no-repeat;
    background-size: cover;
    min-height: 100vh;
}

header{
    padding: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    color: white;
    .fas{
        margin-left: 10px;
    }
    .leftMenu{
        display: flex;
        .logo{
            font-size: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .city{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px 20px;
        }
    }
    .rightMenu{
        display: flex;
        .userImg{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .userDropdown{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px 20px;
        }
        .postBtn{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px 20px;
            background: #F2BB16;
            color: white;
            font-weight: 300;
            border-radius: 50px;
        }
    }
}

.container{
    max-width: 1300px;
    margin: 0 auto;
}